.iphone-pro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro .div {
  background-color: #ffffff;
  border: 1px none;
  height: 852px;
  position: relative;
  width: 393px;
}

.iphone-pro .overlap-group {
  background-color: #262627;
  height: 334px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iphone-pro .large-title {
  color: #ffffff;
  font-family: "SF Pro-Semibold", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 73px;
  left: 16px;
  letter-spacing: 0;
  line-height: 36.4px;
  position: absolute;
  top: 77px;
  font-weight: 700;
}

.iphone-pro .mask-group {
  height: 143px;
  left: 16px;
  position: absolute;
  top: 191px;
  width: 361px;
}

.iphone-pro .text-wrapper {
  color: #000000;
  font-family: var(--h2-font-family);
  font-size: 20px;
  font-style: var(--h2-font-style);
  font-weight: 500;
  height: 26px;
  left: 16px;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  position: absolute;
  top: 378px;
  white-space: nowrap;
}

.iphone-pro .imagine-you-own-a {
  color: #000000;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  left: 16px;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: absolute;
  top: 412px;
  width: 361px;
}

.iphone-pro .button-large-primary-default {
  left: 16px !important;
  position: absolute !important;
  top: 742px !important;
}
